@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
/* STyle the nav bar */
.nav {
  display: flex;
  justify-content: center; /* Center items horizontally */
  align-items: center; /* Center items vertically */
  font-size: 1rem;
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #E5E4E2;
  padding-right: 5%;
}
/* Remove list styling */
.nav ul {
  list-style: none;
}
/* Se max size */
.nav_img {
  max-width: 120px;
  max-height: 120px;
}
