
/* Overall styling for main section */
.banner_content{
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #262626 ;
    /* display grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: white;
}
.personal_info{
    padding-left: 3%;
}
.portfolio_name{
    font-size: 2rem;
}
/* Styling for personal image */
.personal_img{
    max-width: 350px;
    max-height: 350px;
    /* Make the image a circle */
    border-radius: 50%;
    justify-self: center;
    border: 3px solid #262626 ;
}
/* Display grid in this section */
.home_content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    grid-gap: 2%;
}
/* Images cannot exceed 60px by 60px */
.home_content img {
    max-width: 60px;
    max-height: 60px;
}
/* Add same styling for all 3 cards */
.card1, 
.card2, 
.card3{
    text-align: center;
    border: 3px solid #262626 ;
    background-color: white;
    padding-left: 1%;
    padding-right: 1%;
}
/* Align items to the center */
.card2{
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding-top: 3%;
}
/* Remove pre-set styling from links and add own */
.card2_link {
    text-decoration: none;
    color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 3%;
    margin: 2%;
  }
  /* Basic styling */
.icon_label{
    font-size: 1.5rem;
}
/* Basic styling */
.skills_title,
.view_work{
    margin-left: 5%;
    font-size: 2rem;
}
/* Flex so images go below when it exceeds page width */
.home_skills{
    padding-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-wrap: wrap;
}
/* Add max size for images */
.skill{
    margin-right: 2%;
    max-width: 100px;
    max-height: 100px;
}
/* Make images larger on hover */
.skill:hover{
    color: white;
    transform: scale(1.3);
}
/* display grid */
.previous_work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* Remove all pre-set stylings and add own */
.work_card{
    text-decoration: none;
    color: #262626;
    background-color: white;
    border: 3px solid #262626 ;
    margin-left: 5% ;
    margin-right: 5%;
    margin-bottom: 5%;
    border-radius: 5%;
}
/* Style images */
.work_img{
    max-width: 100%;
    max-height: 100%;
    justify-self: center;
    /* Add rounded corners */
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}
/* Styling to the title of sextion */
.work_title{
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5rem;
}
/* Basic styling to text */
.work_description{
    padding-left: 2%;
    padding-right: 2%;
}
/* Media query for mobile compatibility */
@media (max-width: 768px) {
    .banner_content {
        grid-template-columns: 1fr;
    }
    .home_content{
        grid-template-columns: 1fr;
        padding-bottom: 20%;
    }
    .previous_work{
        grid-template-columns: 1fr;
    }
}

